/* CSS Stylesheet 
*/
html, body{
    margin: 0px;
    padding: 0px;
    background-color: #f5999e;
    text-align: center;

    text-color:#99F5C2;
  
}

div.header {
  background-image: /*url(https://goo.gl/MdwGk7)*/;
  background-size: cover;
  height: 700px;
  
  
}

h1 {
  
  font-size: 100px;
  font-family: Palatino;
  color:#99F5C2;

  
  
}

.partypic {
  
  width: 400px;
  height: auto;
}


input {
    text-align: center;
    color: #517fa4;
}

div.fieldSet {
    border: solid black thin;
    width: 500px;
    background-color: #99F5C2;
  
}

fieldset {
  border: none;
  margin: 0 0 0 -10px;
  padding: 0;
  
}

legend {
  font-size: 20px;
  background-color: blue;
  color: white;
  width: 98%;
  padding: 5px;
  text-align: center;
  
}

label.field {
  text-align: right;
  width: 100px;
  float: left;
  font-weight: bold;
}

input.textbox-300 {
  width: 300px;
  float: left;
}


fieldset p {
  clear: both;
  padding: 5px;
}

label span, .required {
  color: red;
  font-weight: bold;
}

#footer {
  font-size: 0.75rem;
}






















